{{- $destination := .Destination -}}
{{- if eq (getenv "CI") "true" -}}
  {{- if hasPrefix $destination "http" -}}
    {{- with resources.GetRemote $destination -}}
      {{- $destination = .Permalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if .Title }}
<div class="card">
<div class="card-image"><figure class="image"><img src="{{ $destination | safeURL }}" alt="{{ .Text }}"></figure></div>
<div class="card-content">{{ .Title }}</div>
</div>
{{- else }}
<figure class="image"><img src="{{ $destination | safeURL }}" alt="{{ .Text }}"></figure>
{{- end }}