{{- $breadcrumbs := slice -}}
{{- range $index, $page := .Ancestors.Reverse -}}
  {{-
  $item := dict
    "@type" "ListItem"
    "position" (add $index 1)
    "item" (dict "@id" $page.Permalink "name" $page.Title)
  -}}
  {{- $breadcrumbs = $breadcrumbs | append $item -}}
{{- end -}}
{{-
$breadcrumbs = $breadcrumbs | append (
  dict
    "@type" "ListItem"
    "position" ($breadcrumbs | len | add 1)
    "item" (dict "@id" .Permalink "name" .Title)
)
-}}
{{- $about := ref . "about" -}}
{{-
$publisher := dict
  "@type" "Organization"
  "name" .Site.Author.name
  "url" .Site.Author.url
  "email" .Site.Author.email
-}}
{{-
$creator := dict
  "@type" "Organization"
  "name" "Transfeminine Science"
  "url" "https://transfemscience.org"
-}}
{{- $authors := slice -}}
{{- with .Params.author -}}
  {{-
  $author := dict
    "@type" "Person"
    "name" .
    "url" (print $about "#" (. | anchorize))
  -}}
  {{- $authors = $authors | append $author -}}
{{- end -}}
{{- range .Params.translators -}}
  {{-
  $author := dict
    "@type" "Person"
    "name" .
    "url" (print $about "#" (. | anchorize))
  -}}
  {{- $authors = $authors | append $author -}}
{{- end -}}
{{-
$brand := dict
  "@context" "https://schema.org"
  "@type" "Organization"
  "name" .Site.Title
  "url" .Site.Home.Permalink
  "logo" (resources.GetMatch "favicon**").Permalink
  "email" .Site.Author.email
-}}
{{-
$article := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "name" .Title
  "url" .Permalink
  "author" $authors
  "creator" $creator
  "author" $creator
  "headline" .Title
  "wordCount" .WordCount
  "publisher" $publisher
  "maintainer" $publisher
  "description" .Description
  "dateCreated" .PublishDate
  "datePublished" .Date
  "dateModified" .Lastmod
  "copyrightNotice" (.Site.Copyright | markdownify | plainify)
-}}
{{-
$breadcrumbs := dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" $breadcrumbs
-}}
{{-
$website := dict
  "@context" "https://schema.org"
  "@type" "WebSite"
  "url" .Site.Home.Permalink
  "abstract" .Site.Title
  "maintainer" $publisher
-}}
<script type="application/ld+json">
{{- $metaElements := slice $website $brand $article }}
{{- if index $breadcrumbs.itemListElement }}
  {{- $metaElements = append (slice $breadcrumbs) $metaElements -}}
{{- end }}
{{ $metaElements | jsonify (dict "indent" "  ") | safeJS }}
</script>